TAP_FRANCETRAVAIL_CLIENT_ID=<FranceTravail Client ID>
TAP_FRANCETRAVAIL_CLIENT_SECRET=<FranceTravail Client Secret>
TARGET_GCS_CREDENTIALS_FILE=<Path to GCS credentials file>
TARGET_GCS_BUCKET_NAME=<GCS bucket name>